*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: monospace;
}

.mySelect {
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(0, 117, 255);

        font-size: 18px; 
        cursor: pointer; 

        padding: 0%;
        border-radius: 4px; 
        margin-left: 5px;
        margin-right: 5px;
        
        height: 44px;
        background-color: rgb(243, 243, 243);

        color: rgb(0, 117, 255);
        outline:none;
        padding-left: 10px;
        font-family: monospace;
        
        
}

.mySelect:focus {
        
        color: #000000;
}


.mySelect option:first-child {
        color: rgb(0, 0, 0); /* White text */
}