*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: monospace;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
    background-color: white;
}

.header {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.MyForm{
    width: 800px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
   
}

.post{
    margin-top: 15px;
    padding: 10px;
    margin-top: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;

    border: 2px solid rgb(131, 131, 131);
    border-radius: 4px;
}

.post__post-content{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.postExecution {
    color: rgb(100, 98, 98);
    text-decoration:line-through;
}

.selection-form {
    width: 100%;
    display: flex;
    
}

.post-list {
    margin-top: 10px;
}


.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.fade-enter-active {
    animation: fade-in 300ms forwards;
}

.fade-exit-active {
    animation: fade-out 300ms forwards;
}

@keyframes fade-in {

0%  {
    opacity: 0;
    transform: translateX(-300px);
}

100% {
    opacity: 1;
    transform: translateX(0);
}
}


@keyframes fade-out {

0%  {
    opacity: 1;
    transform: translateX(0);
}

100% {
    opacity: 0;
    transform: translateX(300px);
}
}